<div class="about">
  <div class="container-fluid">
    <div class="row-fluid title">
		  <div class="col-md-3">
  			<h2>About</h2>
  		</div><!-- /span3 -->
			<div class="col-md-9">
			  <hr>
			</div><!-- /span9 -->
		</div><!-- /row-fluid -->
    <div class="row-fluid">
      <div class="col-md-2">
        <img class="footer-logo" src="assets/img/dddiaz-logo.png" ></img>
      </div>
      <p class="col-md-8-offset-3 col-md-8 about-text">
My name is Daniel Diaz and I am a Software Engineer living in SoCal.
I am a Computer and Political Science double major at UCI and I specialize in developing Web Apps.
I love to code while I am at work, at school, and in my free time.
When I am not coding you might find me sailing with the UCI Club Sailing Team, Taking Photos, Scuba Diving, or Volunteering with JDRF.
Keep scrolling to learn more about me, and what i do.
      </p>
    </div>

</div>
