<footer>

  <div class="lockup">

    <img class="footer-logo" src="assets/img/dddiaz-logo.png" ></img>

    <div class="content-wrap-footer">
      <!--Potential New Nav -->
      <!--<nav>
        <a>Home</a>
        <a>About Me</a>
        <a>Software</>
        <a>Projects</a>
        <a>Interests</a>
        <a>This Site</a>
        <a>Contact<a>
      </nav>-->
      <nav>
        <a href="#">Home</a>
        <a href="https://github.com/dddiaz">Github<a>
        <a href="mailto:daniel.delvin.diaz@gmail.com">Email Me!<a>
      </nav>
      <div class"copyright">All Content Copyright Daniel Diaz 2014</div>
    <div>

  </div>

</footer>
