footer
  height: 25vh
  background: #16a085
  background: url(../img/dddiaz-scuba.jpg) center center
  background-size: cover

  .lockup
    //using margin cause a weird gray bar to show up?
    padding: 30px

    .footer-logo
      +size(50px)
