@import '1-tools/bourbon/bourbon'

.sidebar
  +position(fixed, 0px 0 0px -190px)
  +transition()
  width: 120px
  padding: 30px
  background: #16a085
  z-index: 0

  ul
    list-style: none
    margin: 0
    padding: 0

  li
    color: rgba(255,255,255,0.8)
    font-size: 16px
    margin: 0
    margin-bottom: 16px
    -webkit-font-smoothing: antialiased
    cursor: pointer

    &:hover
      color: rgba(255,255,255,1)

//toggle for menu
.toggle
  text-decoration: none
  font-size: 30px
  color: black
  +transition()
  +position(fixed, 20px 0 0 20px)
  z-index: 1
  cursor: pointer
  width: 40px
  height: 35px


//This is the mgic that lets the sidebar slideout without js!!
#sidebartoggler
  display: none
  //in the case where sidebar toggler is checked
  //look at sibling page wrap
  &:checked + .page-wrap

    .sidebar
      left: 0px

    .toggle
      left: 200px

    .page-content
      padding-left: 180px
